@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html {
  width: 100vw;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  /* background-color: red; */
}

/* global styling */
a {
  text-decoration: none;
}
h1 {
  font-size: var(--text-900);
}
h2 {
  font-size: var(--text-800);
}
button {
  border: none;
}

:root {
  /* colors */
  --clr-red: #c70d0e;
  --clr-red-200: #c32e2e;
  --clr-white: white;
  --clr-gray-200: #f4f4f4;
  --clr-gray-700: #fffbfb;
  --clr-gray-900: #636363;
  --clr-orange-200: #f5efe8;
  --clr-green-200: #f2feff;
  --clr-blue-200: #f0f6ff;
  --clr-balck-700: #0b0b0b;

  /* spacing  */
  --space-50: 0.5rem;
  --space-100: 1rem;
  --space-200: 2rem;
  --space-300: 3rem;
  --space-400: 4rem;
  --space-500: 5rem;
  --space-600: 6rem;

  /* font sizes */
  --text-900: 30px;
  --text-800: 24px;
  --text-700: 18px;
  --text-600: 18px; /* 1 exceptions */
  --text-500: 12px; /* 1 exceptions*/
  --text-550: 15px;
  --text-400: 14px;
  --text-300: 13px;
  --text-250: 11px;
  --text-200: 10px;
  --text-100: 9px;

  /* border */
  --border-1: 0.5rem;
  --border-2: 1rem;

  /* z-index */
  --index-1: 1;
  --index-2: 2;
  --index-3: 3;
  --index-4: 4;
  --index-5: 5;

  /* component variables */
  --tabContents-h: 28rem;
  --profileImg-w: 40px;
  --profileImg-h: 40px;
}

/* utility classes */
.imgDiv {
  overflow: hidden;
  object-fit: cover;
}
.image-fill {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gap-1 {
  gap: 1rem;
}
.container-fluid {
  padding: 1rem;
}
.scroll-x {
  overflow-x: scroll;
}
.mr-1 {
  margin-right: var(--space-100);
}
.mr-05 {
  margin-right: 0.5rem;
}
.ml-05 {
  margin-left: 0.5rem;
}
.my-1 {
  margin: 1rem 0;
}
.mb-05 {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: var(--space-200) !important;
}
.mb-3 {
  margin-bottom: var(--space-300) !important;
}
.mb-4 {
  margin-bottom: var(--space-400);
}
.p-2 {
  padding: 2rem;
}
.py-4 {
  padding: var(--space-400) 0;
}
.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.w-full {
  width: 100%;
}
.align-center {
  text-align: center;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.border-btm {
  border: var(--border-bottom) solid var(--clr-red);
}
.bg-lightblue {
  background: var(--clr-blue-200);
}
.bg-gray {
  background: var(--clr-gray-200);
}
.bg-dark {
  background-color: black;
}
.text-white {
  color: white !important;
}
.text-700 {
  font-size: var(--text-700);
}
.text-500 {
  font-size: var(--text-500);
  font-weight: lighter;
}
.text-550 {
  font-size: var(--text-550);
}
.text-300 {
  font-size: var(--text-300);
}
.text-400 {
  font-size: var(--text-400);
}
.text-250 {
  font-size: var(--text-250);
}
.text-center {
  text-align: center;
}

/* Component classes */
.title {
  text-align: center;
  margin-bottom: var(--space-200);
}
.subTitle {
  margin-bottom: var(--space-100);
}
.card {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  padding: var(--space-100);
}
.btn {
  padding: 0.7rem 1rem;
  background: var(--clr-red);
  color: white;
  border-radius: 8px;
  margin-top: 15px;
}
.btn:hover{
  background-color: rgb(223, 6, 6);
}
.card {
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  padding: var(--space-200);
  background: white;
}
.cardImg {
  margin-bottom: var(--space-100);
}

/* Main page styling */

/* nav */
nav {
  z-index: var(--index-5);
}
.navLinks {
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  background: white;
  z-index: var(--index-4);
  transition: 0.35s ease;
  /* height: 50%; */
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.menuIcon {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: var(--space-50);
}
.showMenu {
  top: 5rem !important;
  left: 0 !important;
}
.link {
  /* width: 100%; */
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 500;
}
.link:hover {
  background: var(--clr-gray-200);
}

/* Main header styling */
.header {
  /* fallback gradient */
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );

  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    /* Background Image */
    url("../assets/images/hero-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.introText {
  margin-top: 20%;
}
#underlined {
  position: relative;
}
#underlined img {
  position: absolute;
  bottom: -6px;
  right: -10px;
}
.approved {
  margin-top: var(--space-400);
  margin-bottom: var(--space-400);
  gap: var(--space-100);
  height: 2.5rem;
  min-height: 1.8rem;
}

.profileImg {
  width: var(--profileImg-w);
  height: var(--profileImg-h);
  background: var(--clr-gray-700);
  border-radius: 50%;
  border: 3px solid black;
}
.profileImg:nth-child(2) {
  z-index: var(--index-2);
  transform: translateX(65%);
  background: rgb(153, 152, 152);
}
.profileImg:nth-child(1) {
  z-index: var(--index-1);
  transform: translateX(125%);
}
.profileImg:nth-child(3) {
  z-index: var(--index-3);
}

/* Who We Are section styles*/

.about .subTitle {
  text-align: center;
}
.aboutContent {
  flex-direction: column-reverse;
  gap: var(--space-200);
}

/* Services section styles*/
.services {
  --servicesCard-w: 18rem;
  /* --servicesCard-h: 8rem; */
  --servicesImg-w: 5rem;
  --servicesImg-h: 5rem;
}
.servicesContainer {
  flex-direction: column;
  gap: var(--space-200);
  
}
.servicesCard {
  width: var(--servicesCard-w);
  height: var(--servicesCard-h);
  max-width: 20rem;
  margin: auto;
  border-bottom: 2.5px solid var(--clr-red);
 
}
.servicesCard:hover{
  transform: scale(0.9);
}
.servicesCard img {
  width: var(--servicesImg-w);
  height: var(--servicesImg-h);
}

/* Our products section styles*/
[data-tab-content] {
  /* display: none !important; */
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: all 0.55s ease;
}
.active[data-tab-content] {
  /* display: flex !important; */
  top: 0%;
  opacity: 1;
}
.tabs {
  gap: var(--space-100);
}
.tab {
  border-radius: 2rem;
  /* background: white !important; */
  background: white;
  border: 1px solid black;
  padding: 0.35rem;
  padding-right: calc(var(--space-100) + 0.2rem);
  flex: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.tab:hover{
background: var(--clr-gray-900);
color:var(--clr-gray-700)
}
.tabs .active {
  background: var(--clr-gray-900);
  color: white;
  border-color: white;
}
.tabs .active .tabImg {
  border: 1px solid white;
}
.tabImg {
  --tabImg-w: 40px;
  --tabImg-h: 40px;

  border-radius: 50%;
  width: var(--tabImg-w);
  height: var(--tabImg-h);
  background: gray;
}
.tab p {
  margin-left: var(--space-50);
  font-size: var(--text-300);
}

.cardContent #cart {
  height: 18px;
}
.tabContentList {
  height: var(--tabContents-h);
  overflow-y: hidden;
  position: relative;
}
.tabContent {
  gap: var(--space-200);
}
.products .card {
  width: 18rem;
  border: 1px solid gray;
  border-radius: 10px;
  flex: none;
}

.products .cardImg {
  height: 14rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: grey;
}

/* Customer reviews styling  */
.reviews {
  gap: 2rem;
}
.reviewHeader {
  gap: 1rem;
}
.reviewCard {
  max-width: 19rem;
  flex: none;
  position: relative;
}
.reviewProfileImg {
  width: 60px;
  height: 60px;
  background: grey;
  border-radius: 50%;
  flex: none;
}
.reviews #sticker {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2px;
  right: 2px;
}

/* contact us section */
.map {
  width: 100%;
  height: 20rem;
  background: grey;
}
.form {
  background: white;
  border-radius: 7px;
  box-sizing: border-box;
  width: 85%;
  margin: auto;
  transform: translateY(-20%);
  z-index: var(--index-2);
}
.form label {
  font-size: var(--text-250);
}
.inputContainer {
  display: flex;
  justify-content: space-between;
}
.inputContainer:not(:first-child) {
  margin-top: 0.6rem;
}
.form input,
.form textarea {
  border: none;
  background: rgba(228, 228, 228, 0.979);
  padding: 0.5rem;
  border-radius: 3px;
  width: 75%;
  transition: all 0.2s ease;
}
input:focus-visible,
input:focus,
textarea:focus,
textarea:focus-visible {
  border: none;
  outline: 0.7px solid rgba(82, 102, 158, 0.712);
}

.form .btn {
  padding-top: var(--space-50);
  padding-bottom: var(--space-50);
}

/* Call us now styling  */
.callUs .card {
  padding: 0;
}
.callUs .cardContent {
  padding: var(--space-100) var(--space-50);
}

/* footer section */
footer,
footer a {
  color: white;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.socialLinks {
  display: flex;
  align-items: center;
}
.socialLinks img:not(:last-child) {
  margin-right: var(--space-50);
}

/* Tablet screens */
@media (min-width: 768px) {
}

/* Desltp[ screems */
@media (min-width: 992px) {
  :root {
    /* font sizes */
    --text-900: 55px;
    --text-800: 43px;
    --text-700: 32px;
    --text-600: 28px;
    --text-500: 21px;
    --text-550: 24px;
    --text-400: 22px;
    --text-300: 16px;
    --text-350: 19px;
    --text-200: 16px;
    --text-100: 12px;

    --profileImg-w: 50px;
    --profileImg-h: 50px;
  }

  .mb-4 {
    margin-bottom: var(--space-600);
  }
  .btn {
    padding: 1rem 1.5rem;
  }

  /* nav styling  */
  .navLinks {
    position: static;
    display: flex;
    width: fit-content;
    padding: none;
    background: transparent;
  }
  .link {
    color: white;
    padding: 1rem;
    flex-direction: row;
    cursor: pointer;
    font-weight: 400;
    text-align: left;
  }
  .link:not(:last-child) {
    margin-right: 1rem;
  }
  .link:hover {
    background: transparent;
    border-bottom: 1px solid var(--clr-gray-700);
  }
  .menuIcon {
    display: none;
  }

  /* Main header styling */
  .header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerContainer {
    max-width: 50%;
    margin: auto;
  }
  .introText {
    margin: auto;
    /* margin-top: 20%; */
  }
  .approved {
    height: 3rem;
  }

  /* Who we are section styling  */
  .aboutContent {
    flex-direction: row;
  }
  .about .subTitle {
    text-align: left;
  }
  .aboutContent > div {
    flex-basis: 50%;
  }
  .about .info {
    padding: 3rem;
  }

  /* Services section styles */
  .servicesContainer {
    flex-direction: row;
    width: fit-content;
    margin: auto;
  }
  /* add additional styling */

  /* Our products section styles */
  .tabs {
    justify-content: center;
  }
  .tabContentList {
    display: flex;
    justify-content: center;
  }

  /* Customer reviews Styling */
  .reviews {
    display: flex;
    justify-content: center;
  }

  /* Contact us styling */
  .contactIntro {
    max-width: 60%;
    margin: auto;
    /* margin-bottom: var(--space-200) !important; */
  }
  .mapForm {
    display: flex;
    justify-content: flex-start;
  }
  .map {
    /* width:  */
    height: 35rem;
  }
  .form {
    transform: translateY(0%);
    transform: translateX(-20%);
    /* height: 25rem; */
    width: 70%;
    padding: 3rem 2rem;
  }

  .form label {
    font-size: var(--text-300);
  }
  .form input,
  .form textarea {
    padding: 0.9rem;
    width: 80%;
  }
  .form .mb-05 {
    margin-bottom: 1.3rem;
  }

  /* Call us now styling */
  /* Call us now styling  */
  .callUs .card {
    max-width: 50rem;
    margin: auto;
  }
  .callUs .cardImage {
    flex-basis: 30%;
  }
  .callUs .card img {
    width: 100%;
    height: 100%;
  }
  .callUs .cardContent {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
  }

  /* footer section styles */
  footer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  footer .flex-col {
    align-items: flex-start;
  }
}
